body {
    display: flex;
    padding-top:30px;
    width: 1200px;
    margin: auto;
    justify-content: space-around;
    background-color: #FFDCDC;
    overflow: hidden;
}

.column1{
    position:relative;
}

header h1{
    position: relative;
    bottom: 580px;
    left: 60px;
    font-family: 'Itim', cursive;
    color: white;
    text-align: center;
    font-size: 6rem;
    z-index: 1;
    text-shadow: 1px 0px 9px #DECECE;
}

img {
    position: relative;
    width: 95%;
    bottom: 80px;
    z-index: 0;
}

input {
    margin-top: 5px;
    margin-bottom: 20px;
    width: 280px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    background-color: #FFDCDC;
}


.backgroundBox {
    position: relative;
    padding:70px;
    width: 300px;
    height: 550px;
    background-color: #FFC9C9;
    border-radius: 15px;
    box-shadow: 1px 0px 9px #DECECE;
}

.insideInfo{
    position: absolute;
    bottom: 45px;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: white;
}

label {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 0.9rem;
}

.button {
    margin: auto;
    width: 200px;
}

.finish {
    width: 200px;
    padding: 15px;
    border-radius: 20px;
    background-color: #FFA7A7;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    color: white;
}
